.content {
  &__wrap {
    display: flex;
    justify-content: flex-start;
  }
  &__left {
    height: 100vh;
    width: 260px;
    padding: 60px;
    padding-left: 0;
    border-right: 1px solid #a0ccaa;
    font-weight: bold;
    color: white;
    font-size: 20px;
    &-list {
      list-style: none;
    }
    &-item {
      cursor: pointer;
      & + & {
        margin-top: 24px;
      }
    }
  }
  &__right {
    width: 100%;
    padding: 60px;
    margin-top: 20px;
  }
}

.title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  margin-top: 16px;
  text-align: center;
  color: #77fba2;
  font-size: 32px;
  font-weight: bold;
}

.button {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  display: inline-block;
  padding: 16px;
  border: 2px solid #f5f5f5;
  color: #77fba2;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.box {
  width: 100%;
  background: #5c5a5a;
  padding: 32px;
  border-radius: 20px;
  &__text {
    color: white;
    line-height: 24px;
  }
  &__button {
    margin-top: 60px;
    width: 160px;
  }
}
