.text {
  color: white;
  line-height: 24px;
}

.button-wrapper {
  margin-top: 60px;
  display: flex;
}

.address-input {
  margin-top: 16px;
  width: 400px;
  > input {
    border-radius: 6px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.75px;
    padding: 8px;
    border: none;
  }
  :focus {
    outline: none;
  }
}
