.button {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.25));
  &:active {
    box-shadow: none;
    position: relative;
    top: 1px;
  }
}

.primary {
  border: 2px solid #40d470;
  color: #40d470;
  &:hover {
  }
}

.secondary {
  color: #333333;
  background-color: #40d470;
  &:hover {
    transition: 0.2s;
    background-color: #5ec07e;
  }
}

.dark {
  color: #40d470;
  border: 2px solid #40d470;
  background-color: #333333;
  &:hover {
    transition: 0.2s;
    background-color: #242424;
  }
}
