.button {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  &:active {
    box-shadow: none;
    position: relative;
    top: 1px;
  }
}

.primary {
  border: 2px solid #77fba2;
  color: #77fba2;
}

.secondary {
  color: #333333;
  background-color: #77fba2;
}
