.content {
  padding: 40px 60px;
  display: flex;
  justify-content: space-between;
}

.title {
  color: #77fba2;
  font-size: 64px;
  font-weight: bold;
}

.subtitle {
  margin-top: 8px;
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.description {
  margin-top: 64px;
  font-size: 18px;
  line-height: 32px;
  color: white;
}

.button-wrap {
  margin-top: 80px;
  display: flex;
}

.button {
  width: 180px;
  text-align: center;
  margin-left: 40px;
  display: inline-block;
  padding: 16px;
  border: 2px solid #77fba2;
  color: #77fba2;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.button-secondary {
  width: 180px;
  text-align: center;
  display: inline-block;
  padding: 16px;
  color: #333333;
  background-color: #77fba2;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
