.content {
  padding: 40px 60px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.title {
  color: #40d470;
  font-size: 64px;
  font-weight: bold;
}

.subtitle {
  margin-top: 8px;
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.description {
  margin-top: 64px;
  font-size: 18px;
  line-height: 32px;
  color: white;
}

.button-wrap {
  margin-top: 80px;
  display: flex;
}

.button {
  width: 180px;
  text-align: center;
  margin-left: 40px;
  display: inline-block;
  padding: 16px;
  border: 2px solid #40d470;
  color: #40d470;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.button-secondary {
  width: 180px;
  text-align: center;
  display: inline-block;
  padding: 16px;
  color: #333333;
  background-color: #40d470;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.about {
  max-width: 800px;
  margin-top: 200px;
  &__title {
    color: white;
    font-size: 48px;
    font-weight: bold;
  }
  &__section {
    margin-top: 120px;
  }
  &__section-title {
    color: white;
    font-size: 26px;
    font-weight: bold;
  }
  &__section-text {
    margin-top: 40px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
  }
  &__highlight {
    color: #40d470;
  }
}
