.content {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: #40d470;
  text-align: center;
  font-size: 64px;
  font-weight: bold;
}

.subtitle {
  margin-top: 16px;
  text-align: center;
  color: white;
  font-size: 32px;
  font-weight: bold;
}

.button {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  display: inline-block;
  padding: 16px;
  border: 2px solid #f5f5f5;
  color: #40d470;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
