.content {
  justify-content: space-between;
  display: flex;
  padding: 40px 60px;
  border-bottom: 1px solid #a0ccaa;
  &__right {
    display: flex;
  }
  &__list {
    color: #4b5766;
    display: flex;
    list-style-type: none;
  }
  &__list-item {
    cursor: pointer;
    margin-left: 40px;
  }
}

.title {
  color: #77fba2;
  font-size: 32px;
  font-weight: bold;
}

.button {
  margin-left: 40px;
  padding: 16px;
  border: 2px solid #77fba2;
  color: #77fba2;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.bold {
  color: white;
  font-weight: bold;
}
